.site-search {
  width: 100%;
  margin-top: 1em;
  font-family: $sans;
  position: relative;;
}

.site-search-input {
  box-sizing: border-box;
  border: 2px solid $blue-dark;
  border-radius: 3px;
  display: block;
  width: 100%;
  outline: medium none;
  padding: 0.4em;
  margin-bottom: .5em;
  color: $black;
  font-size: 1.1em;
  &:focus {
    border-color: $blue-darker;
    box-shadow: 0 0 3px $blue-darker;
  }
  @include breakpoint(small){
    display: inline-block;
    width: 70%;
  }
}

.site-search-button {
  border: 0 none;
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: .2em;
  text-align: center;
  background-color: $blue-dark;
  color: $white;
  font-size: 1.2em;
  letter-spacing: .02em;
  line-height: 1.5em;
  &:hover{
    background-color: $blue-darker;
  }
  @include breakpoint(small){
    border: 2px solid $blue-dark;
    display: inline-block;
    width: 27%;
    position: absolute;
    right: 0;
  }
}

.icon-search {
	position: relative;
	width: 1em;
	height: 1em;
	fill: $white;
  top: .2em;
  margin-right: .2em;
}
